.piloto-f1-atual {
    height: 100px;
    border: 1px solid black;
    text-align: center;
    margin: 10px;
}

.lenda {
    border: 5px solid red;
    height: 100px;
    text-align: center;
    margin: 10px;
}