h1{
    font-size: 65px;
    font-family: sans-serif;
    color: orange;
}

.bg-list{
    background-color: teal;
    font-weight: 600;
    font-size: 3em;
}

body{
    font-size: 16px;
    font-style: oblique;
    line-height: 40px;
    text-align: center;
    text-decoration: underline;
}
#li1{
    background-color: yellow;
}
#li2{
    background-color: red;
}
#li3{
    background-color: brown;
}