#title {
    position: absolute;
}

.super-mario {
    width: 150px;
    position: absolute;
    z-index: 3;
    top: 230px;
}
.goomba {
    width: 95px;
    position: absolute;
    top: 440px;
    left: 120px;
    z-index: 4;
}

.baloon {
    position: absolute;
    width: 250px;
    left: 120px;
    top: 110px;
    z-index: 2;
}

.speach {
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    position: absolute;
    left: 160px;
    top: 120px;
    z-index: 4;
}

.bowser {
    width: 400px;
    position: absolute;
    left: 300px;
    top: 240px;
    z-index: 1;
}