div:hover {
    border-style: solid;
}

div:nth-of-type(1) h3{
    color: #E9C46A;
    font-family: monospace;
}

div:nth-of-type(2) h3{
    color: #2A9D8F;
    font-family: sans-serif;
}

div:nth-of-type(3) h3{
    color: #E76F51;
    font-family: monospace;
    padding: 2%;
}

div:nth-of-type(4) h3{
    color: #264653;
    font-family: sans-serif;
}

div:nth-of-type(5) h3{
    color: #F4A261;
    font-family: monospace;
}

/*
Faltando requisito 5
- Deixe as tags impares h3 com o texto em italico
font-style: italic
*/