.text {
    text-align: justify;
}
.ref-img {
    width: 250px;
    vertical-align: top;
}
.source {
    text-decoration: none;
    color: black;
}

header {
    text-align: center;
}
header h1 {
    font-size: 26px;
}

nav ul {
    display: inline-block;
}
nav li {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    
}
nav li a {
    text-decoration: none;
    color: darkgray;
    font-weight: 600;
}

main {
    border: 2px dotted red;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

article {
    max-width: 900px;
    float: left;
    border: 2px dashed red;
}

h2 {
    font-size: 22px;
}
#general-info {
    border: 1px solid blue;
    padding: 5px;
    display: inline-block;
}

#cient {
    max-width: 300px;
    border: 3px solid gray;
    padding: 5px;
    display: inline-block;
}
#cient h3 {
    font-size: 16px;
    text-align: center;
}
#cient ul {
    padding-inline-start: 0px;
}
#cient li {
    list-style-type: none;
}
#facts {
    border: 2px solid red;
    width: 450px;
    padding: 5px;
    display: inline-block;
}

#description h2 {
    text-align: center;
}
#desc-container {
    display: inline-block;
    max-width: 695px;
    padding: 5px;
}

#punch {

}
#punch h2 {
    text-align: center;
}
#punch-container {
    display: inline-block;
    max-width: 695px;
    padding: 5px;
}

#vid {
    display: inline-block;
    max-width: 300px;
    border: 2px dashed blue;
    margin: 5px;
    padding: 5px;
}

footer {
    border: 2px dashed purple;
}
