* {
    border: 2px solid green;
}

.text {
    text-align: justify;
}
.ref-img {
    width: 250px;
    vertical-align: top;
}
.source {
    text-decoration: none;
    color: black;
}

header {
    
    text-align: center;
}
header h1 {
    font-size: 26px;
}

nav ul {
    display: inline-block;
}
nav li {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    
}
nav li a {
    text-decoration: none;
    color: darkgray;
    font-weight: 600;
}

article {
    display: block;
    max-width: 75%;
    float: left;
}

h2 {
    font-size: 22px;
}
#general-info {
    display: block;
}
#general-info main {
    margin-left: 1%;
    max-width: 68%;
    float: right;
}
#cient {
    max-width: 30%;
    float: left;

}
#cient h3 {
    font-size: 16px;
}
#cient ul {
    padding-inline-start: 0px;
}
#cient li {
    list-style-type: none;
}

#description {
    display: inline-block;
}
#description h2 {
    text-align: center;
}
#desc-container {
    max-width: 70%;
    display: inline-block;
}

#punch {
    display: inline-block;
}
#punch h2 {
    text-align: center;
}
#punch-container {
    max-width: 70%;
    display: inline-block;
}

#vid {
    max-width: auto;
    float: right;
}
